body{
    background-color: rgb(169, 202, 231);
}
.container{
    border: 4px outset rgb(187, 141, 141);
    padding: 20px;
    background-color: rgb(85, 197, 197);
    text-align: center;
}
.flex-container{
    display: flex;
    width: 300px;
    margin: auto;
    justify-content: space-around;
}
.button{
    border: 2px solid rgb(109, 31, 92);
    padding: 15px;
    background-color: rgb(188, 143, 229);
    box-shadow: 1px 2px 2px 2px rgb(16, 9, 22);
    color: rgb(238, 231, 231);
    font-size: 1.3rem;
    margin: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.button:hover{
    background-color: rgb(149, 88, 206);
    cursor: pointer;
}
.button:active{
    background-color: rgb(87, 29, 141);
}
.results{
    margin-top: 20px;
    color:rgb(139, 30, 94);
    font-size: 1.3rem;
    font-weight: bold;
}
.score{
    font-size: 3rem;
    color:rgb(139, 30, 94)
}